.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */

.color-orange {
    color: #E95A08;
}

/* nav styles */

nav {
    max-width: 71rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.items {
    display: flex;
    gap: 3rem;
}

#Home {
    font-size: 1rem;
    font-weight: bold;
    color: #252432;
}

.nav-li {
    font-weight: 16;
    color: #8987A1;
}

.cart {
    font-size: 16;
    color: #000000;
}

/* banner style */

.banner {
    max-width: 71rem;
    display: flex;
    margin-top: 7.5rem;
    margin-left: auto;
    margin-right: auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}

#ALWAYS{
    color: black;
}

.banner-description{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
}

.banner-column{
    padding-top: 10rem 0 0 0;
}