.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */

.color-orange {
    color: #E95A08;
}

/* nav styles */

nav {
    max-width: 71rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.items {
    display: flex;
    gap: 3rem;
}

#Home {
    font-size: 1rem;
    font-weight: bold;
    color: #252432;
}

.nav-li {
    font-size: 16;
    color: #8987A1;
}

.cart {
    font-size: 1rem;
    color: #000000;
}

/* banner style */

.banner {
    max-width: 71rem;
    display: flex;
    margin-top: 7.5rem;
    margin-left: auto;
    margin-right: auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}

#ALWAYS {
    color: black;
}

.banner-description {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
}

.banner-column {
    padding-top: 10rem 0 0 0;
}

/* plants section styles */

.plants-section {
    max-width: 71rem;
    text-align: center;
    margin: 7.5rem auto;
}

.plants-section-title {
    font-weight: bold;
    font-size: 3rem;
}


.plants-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    margin-top: 3rem;
}

.plant {
    max-width: 17rem;
}

.img-plant {
    width: 100%;
    /* height: 20rem; */
    margin-bottom: 0;
}

.plant-name {
    font-size: 1.5rem;
    font-weight: medium;
    color: #111111;
    margin-top: 2rem;
    margin-bottom: 0;
}

.plant-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111111;
    margin-top: 1.2rem;
}

.add-to-cart {
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 1.2rem 5rem;
    border: none;
    width: 100%;
}


/* plants lover section styles */

.badge {
    position: absolute;
    width: 18rem;
    /* height: 18rem; */
    top: -7rem;
    left: 22rem;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));

}

.plants-lover-section {
    max-width: 71rem;
    /* height: 42rem; */
    display: flex;
    gap: 4rem;
    /* position: relative; */
    margin-top: 13rem;
    margin-left: auto;
    margin-right: auto;

}

.image-container {
    position: relative;
}

.img-box {
    max-width: 33rem;
    height: 100%;
}

.plant-lover-column {
    max-width: 33rem;
    /* height: 32rem; */
    margin-top: 50px;
    /* top: 0;
    right: 0; */

}


.plant-lover-section-title {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.plants-lovers-description {
    /* max-height: 32rem; */
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.2rem;

}

/* latest deal section */

.latest-deal-section {
    max-width: 71rem;
    text-align: center;
    margin: 0 auto;
}

.latest-deal-description {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}

.card-layout {
    width: 1140px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 60px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 1rem;

}

.card-1 {
    grid-column: 1;
    grid-row: 1;
}

.card-2 {
    grid-column: 1;
    grid-row: 2;
}

.card-3 {
    height: 100%;
    grid-column: 2;
    grid-row: 1 / 3;

}

.card-3 h3 {
    font-size: 2rem;

}

.card-3 span {
    font-size: 1.5rem;
}

.card span {
    text-decoration: underline;
}

.card-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/deal-bloom.png);
}

.card-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/deal-ana.png);
}

.card-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/deal-zabo.png);
}


/* join section style */

.join-section {
    background-image: url(../assets/news-letter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.join-section-title {
    font-size: 3.2rem;
    font-weight: bold;
    color: #FFFFFF;
}

.join-section button {
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 1.2rem 3.3rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.submition-box {
    display: flex;
    width: 70%;
}

.submition-box input[type="email"] {
    width: 100%;
    padding: .5rem .7rem;
    outline: none;

}

.submition-box input[type="email"]::placeholder {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

/* footer section style */


.footer-section {
    max-width: 70rem;
    margin: 3.2rem 10rem;
    display: flex;
    justify-content: space-between;
}

.home-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-section p {
    color: rgba(0, 0, 0, 0.5);
}

.footer-section ul li {
    list-style: none;
}

.footer-section ul li a {
    text-decoration: none;
    color: #6B7280;
}

.logos {
    max-width: 14rem;
    height: 2rem;
    display: flex;
    gap: 2rem;
}



/* responsive on mobile device */


@media screen and (max-width:576px) {

    .items li:nth-child(1),
    nav div li:nth-child(2),
    nav div li:nth-child(3) {
        display: none;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .banner-column {
        width: 361px;
        height: 147px;
        margin: 28px 16px;
        padding: 0;
    }

    .banner-title {
        font-size: 24px;
        font-weight: bold;
    }

    .banner-description {
        font-size: 14px;
    }

    .plants-section-title {
        font-size: 24px;
        font-weight: bold;
    }

    .banner-img {
        width: 100%;
    }

    .plants-lovers-description {
        width: 336px;
        font-size: 14px;
        margin-top: 0;
    }

    .plants-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .plants-lover-section {
        flex-direction: column;
        gap: 10px;
    }

    .badge {
        display: none;
    }

    .card-layout {
        display: flex;
        flex-direction: column;
        width: 361px;
    }

    .card-3 {
        height: 13rem;
    }

    .join-section {
        background-position: cover;
    }

    .join-section-title {
        font-size: 20px;
    }

    .submition-box button {
        padding: 8px 20px;
    }

    .footer-section {
        margin: 0;
        flex-direction: column;
        margin-top: 20px;
    }

    .home-links {
        padding: 0;
    }

    .plant{
        
    }
}